@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bs-cyan: #29c7d7;
  --bs-orange: #f98d38;
}

body {
  @apply relative bg-white text-gray-600 antialiased dark:bg-black dark:text-gray-50;
}

label {
  user-select: none;
}

.colored {
  background: linear-gradient(to right, var(--bs-cyan), var(--bs-orange));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.text-muted {
  @apply text-gray-500 dark:text-gray-400;
}

.h1 {
  @apply text-4xl font-bold;
}

.h2 {
  @apply text-3xl font-bold;
}

.h3 {
  @apply text-2xl font-bold;
}

.h4 {
  @apply text-xl font-bold;
}

.h5 {
  @apply text-lg font-bold;
}

.h6 {
  @apply text-base font-bold;
}
